@mixin boxDrop {
    content: '';
    width: 75px;
    height: 55px;
    background: $blue;
    position: absolute;
}

$blue : rgba(#3277E3, 1);

.dropbox {
    width: 75px;
    height: 75px;
    position: relative;
    margin: 60px;
    transform: scaleY(.75) rotate(-45deg);
    background: #FFF;
    
    box-shadow:
        -13px 13px 0 0 $blue,
        -67px 67px 0 0 $blue;

    &::before {
        @include boxDrop;

        top: -55px;
        left: 4px;
        transform: skewX(-8deg);
        box-shadow: 
            11px 130px 0 0 $blue,
            10px 130px 0 4px #FFF,
            -42px 142px 0 0 $blue;
    }

    &::after {
        @include boxDrop;

        top: 6px;
        left: 65px;
        transform: rotate(90deg) skewX(8deg);
        box-shadow:
            -11px 130px 0 0 $blue,
            -6px 134px 0 0 #FFF,
            42px 142px 0 0 $blue;
    }
}